@if (Quiz is not null)
{
    <div class="m-2 p-2">
        <label class="h4 m-2">
            @Quiz.Question
        </label>
        <div class="row">
            <div class="col-6">
                @foreach (var option in leftList)
                {
                <div class="m-2">
                    @if (option.IsMatched)
                    {
                        <label class="btn btn-success p-3 col-lg-8 col-md-6 col-sm text-left">@option.LeftOption</label>
                    }
                    else
                    {
                        if (option.IsSelected)
                        {
                            <label class="btn btn-warning p-3 col-lg-8 col-md-6 col-sm text-left">@option.LeftOption</label>
                        }
                        else
                        {
                            <label class="btn btn-outline-info p-3 col-lg-8 col-md-6 col-sm text-left" @onclick="() => HandleLeftOptionClick(option)">@option.LeftOption</label>
                        }
                    }
                </div>
                }
            </div>
            <div class="col-6">
                @foreach (var option in rightList)
                {
                <div class="m-2">
                    @if (option.IsMatched)
                    {
                        <label class="btn btn-success p-3 col-lg-8 col-md-6 col-sm text-left">@option.RightOption</label>
                    }
                    else
                    {
                        if (option.IsSelected)
                        {
                            <label class="btn btn-warning p-3 col-lg-8 col-md-6 col-sm text-left">@option.RightOption</label>
                        }
                        else
                        {
                            <label class="btn btn-outline-info p-3 col-lg-8 col-md-6 col-sm text-left" @onclick="() => HandleRightOptionClick(option)">@option.RightOption</label>
                        }
                    }
                </div>
                }
            </div>
        </div>


    </div>
}
else
{
    <label>Loading...</label>
}

@code {
    [Parameter]
    public MatchQuizModel Quiz { get; set; }

    private List<MatchQuizOptionModel> leftList;
    private List<MatchQuizOptionModel> rightList;

    private MatchQuizOptionModel leftOption;
    private MatchQuizOptionModel rightOption;

    protected override void OnParametersSet()
    {
        leftList = Quiz.Options.Shuffle().ConvertAll(x => new MatchQuizOptionModel(x.Id, x.QuizId, x.LeftOption, x.RightOption, x.IsSelected, x.IsMatched));
        rightList = Quiz.Options.Shuffle().ConvertAll(x => new MatchQuizOptionModel(x.Id, x.QuizId, x.LeftOption, x.RightOption, x.IsSelected, x.IsMatched));
    }

    public void HandleLeftOptionClick(MatchQuizOptionModel option)
    {
        leftOption = option;

        foreach (var op in leftList)
        {
            if (op.IsSelected)
            {
                op.IsSelected = false;
            }
        }

        leftOption.IsSelected = true;

        if (rightOption is not null)
        {
            if (leftOption.Id == rightOption.Id)
            {
                leftOption.IsMatched = true;
                rightOption.IsMatched = true;

                leftOption = null;
                rightOption = null;
            }
            else
            {
                rightOption.IsSelected = false;
            }
        }

    }

    public void HandleRightOptionClick(MatchQuizOptionModel option)
    {
        rightOption = option;

        foreach (var op in rightList)
        {
            if (op.IsSelected)
            {
                op.IsSelected = false;
            }
        }

        rightOption.IsSelected = true;

        if (leftOption is not null )
        {
            if (rightOption.Id == leftOption.Id)
            {
                leftOption.IsMatched = true;
                rightOption.IsMatched = true;

                leftOption = null;
                rightOption = null;
            }
            else
            {
                leftOption.IsSelected = false;
            }
        }

    }
}
