@if (Quiz is not null)
{
    <div class="m-2 p-2">
        <label class="h4 m-2">
            @Quiz.Question
        </label>
        <div class="row">
            <div class="col-6">
                @foreach (var option in leftOptions)
                {
                <div class="m-2">
                    @if (option.IsMatched)
                    {
                        <label class="btn btn-success p-3 col-lg-8 col-md-6 col-sm text-left">@option.LeftOption</label>
                    }
                    else
                    {
                        if (option.Id == leftOption?.Id)
                        {
                            <label class="btn btn-warning p-3 col-lg-8 col-md-6 col-sm text-left">@option.LeftOption</label>
                        }
                        else
                        {
                            <label class="btn btn-outline-info p-3 col-lg-8 col-md-6 col-sm text-left" @onclick="() => HandleLeftOptionClick(option)">@option.LeftOption</label>
                        }
                    }
                </div>
                }
            </div>
            <div class="col-6">
                @foreach (var option in rightOptions)
                {
                <div class="m-2">
                    @if (option.IsMatched)
                    {
                        <label class="btn btn-success p-3 col-lg-8 col-md-6 col-sm text-left">@option.RightOption</label>
                    }
                    else
                    {
                        if (option.Id == rightOption?.Id)
                        {
                            <label class="btn btn-warning p-3 col-lg-8 col-md-6 col-sm text-left">@option.RightOption</label>
                        }
                        else
                        {
                            <label class="btn btn-outline-info p-3 col-lg-8 col-md-6 col-sm text-left" @onclick="() => HandleRightOptionClick(option)">@option.RightOption</label>
                        }
                    }
                </div>
                }
            </div>
        </div>


    </div>
}
else
{
    <label>Loading...</label>
}
